<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:dobbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="demo-server"/>
    <dubbo:registry protocol="zookeeper" address="lcyj88:22888" timeout="10000"/>
    <dubbo:protocol name="dubbo" port="21898" threadpool="cached"/>
    <!--<dubbo:provider accepts="200" />-->

    <bean name="studentServer" class="com.springdemo.sourcetest.service.StudentServerImpl" ></bean>
    <bean name="scoreService" class="com.springdemo.sourcetest.service.ScoreServiceImpl" />
    <dubbo:service ref="studentServer" interface="com.springdemo.sourcetest.service.StudentServer"
                   timeout="2000" retries="0" mock="com.springdemo.sourcetest.service.StudentServerMock"/>
    <dubbo:service ref="scoreService" interface="com.springdemo.sourcetest.service.ScoreService" timeout="2000"  />

</beans>